// Responsive breakpoints
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-x-large: 1200px;

%backgr-parallax {
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

%flex-center-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

%flex-around-center {
   display: flex;
   justify-content: space-around;
   align-items: center;
}


* {
   margin: 0;
   padding: 0;
}

p {
   width: 700px;
   font-family: 'Montserrat', sans-serif;
   font-size: 22px;
   color: #ffffff;
   text-align: justify;
   
   a {
      text-decoration: none;
      color: #ffffff;
   }
}



.backg-1 {
   height: 100vh;
   position: relative;
   @extend %flex-center-center;

   &:before {
      opacity: 0.8;
      content: "";
      position: absolute;
      width: 100%;
      height: 100vh;
      background-image: url("../images/Hallonbergen.jpg");
      @extend %backgr-parallax;
   }
   div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 75%;
      div {
         position: relative;
         width: 370px;
         height: auto;
      }
      #title-1 {
         font-size: 20px;
         background-color: black;
         color: white;
      }
      #title-2 {
         font-size: 35px;
      }
      #title-3 {
         font-family: 'Dancing Script', cursive;         
         font-size: 32px;
         background-color: black;
         color: white;
      }
   }
}

.content {
   @extend %flex-center-center;
   height: 50vh;
   background-color: #000000fa;
}

#learn-container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 50vh;
   padding: 30px 0px;

   p {
      text-align: center;
      color: #000000;
   }

   #learning {
      @extend %flex-around-center;
      height: 100px;
      div {
         width: 80px;
         height: 80px;
         display: flex;
         justify-content: center;
         align-items: center;         
         img {
            width: 40px;
            margin: 5px;
            transition: 0.25s;
            opacity: 0.5;
            &:hover {
               width: 60px;
               opacity: 1;
            }
         }
         .hooover{
            width: 60px;
            opacity: 1;
         }
      }   
      @media screen and (max-width: $break-medium) {
         height: 80px;
         div{
            width: 63px;
            height: 63px;
            img {
               width: 40px;
               margin: 4px;
               &:hover {
                  width: 60px;
               }
            }
            .hooover{
               width: 60px;
            }
         }
      }
      @media screen and (max-width: $break-small) {
         height: 50px;
         min-width: 320px;
         justify-content: space-evenly;
         div{
            width: 10px;
            height: 10px;
            img {
               width: 25px;
               margin: 1px;
               &:hover {
                  width: 40px;
               }
            }
            .hooover{
               width: 40px;
            }
         }
      }
   }
}

#corchetes {
   display: flex;
   align-items: center;
   span {
      font-family: 'Montserrat', sans-serif;
      font-size: 50px;
      color: #8f8f8f
   }
   #learning-here {
      text-align: center;
      font-size: 30px;
      width: 180px;
   }
}

.backg-2 {
   background-image: url("../images/YoBici.jpg");
   height: 40vh;
   filter: sepia(1);
   @extend %backgr-parallax;
}





