/* Breakpoints: 400px 576px 768px  */

:root {
  --main-bg-color: #2F291F;
  --text-color: #A99775;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Montserrat", sans-serif;
}

p {
  max-width: 640px;
  font-size: 22px;
  line-height: 1.6;
  color: var(--text-color);
  text-align: justify;
  margin: 20px auto;
  padding: 5px;
}

a {
  text-decoration: underline dotted;
  color: var(--text-color);
  font-size: 22px;
}


/* Common */
.flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.supertitle {
  font-size: 3em;
  margin: 15px 0;
  color: #f1dca7;
}


/***************/
/*Intro section*/
/***************/

.intro__background {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 100vh;
  position: relative;
}
/* Parallax effect */
.intro__background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  filter: contrast(125%) brightness(73%) sepia(100%);
  background-image: url("../images/Hallonbergen.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.intro__title-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 75%;
  /* relative so it appears in front of the background */
  position: relative;
}

.intro__title-1 {
  text-align: center;
  font-size: 20px;
  padding: 5px 0px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}
.intro__title-2 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 34px;
  padding: 5px 8px;
  background-color: rgba(255, 255, 255, 0.451);
  color: var(--main-bg-color)
}
.intro__title-3 {
  text-align: center;
  font-size: 28px;
  padding: 5px 0px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

/******************/
/* Middle section */
/******************/

.middle-section {
  display: flex;
  flex-direction: column;
  margin: 10vh 0px 4vh;
}


/*My info*/

.johan-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 5vh 0;
}

.johan-info__photo {
  width: 180px;
  border-radius: 50%;
  border: 5px solid #f1dca7;
}

.johan-info__profession {
  font-size: 1.2em;
  color: var(--text-color);
}


/* Skills */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vh 0;
}

.skills__skill-text {
  color: var(--text-color);
  text-align: center;
  width: 180px;
}


/* Portfolio */

.portfolio {
  padding: 5vh 0;
}

.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 400px;
  margin: 4vh 3vh;
  padding: 4vh 35px 6vh;
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  border: solid 3px #f1dca7;
  background-color: #2b251c;
  /*cursor: pointer;*/
}
.card:hover{
  background-color: var(--main-bg-color);
}
.card__description {
  font-size: 18px;
}
.card__title {
  text-align: center;
  color: #f1dca7
}
.card__footer {
  display: flex;
  justify-content: space-evenly
}

/****************/
/* Backgraund 2 */
/****************/

.backg-2 {
  height: 75vh;
  filter: contrast(125%) brightness(73%) sepia(100%);
  background-image: url("../images/YoBici.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


/******************/
/* Bottom section */
/******************/

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 40px 0px;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

.contact-icons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 45px;
}

.icon-up {
  height: 20px;
  align-self: flex-end;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


/* Skill icon animation */
#skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  /* background-color: #ffffff; */
  border-radius: 15px;
}
#skills-container div {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills-container div img {
  width: 40px;
  margin: 5px;
  transition: 0.25s;
  opacity: 0.5;
}
#skills-container div img:hover {
  width: 60px;
  opacity: 1;
}
#skills-container div .hooover {
  width: 60px;
  opacity: 1;
}



@media screen and (max-width: 768px) {
  p {
    font-size: 20px;
    margin: 5px 8px;
  }
  a {
    font-size: 20px;
  }
  #skills-container {
    height: 80px;
  }
  #skills-container div {
    width: 63px;
    height: 63px;
  }
  #skills-container div img {
    width: 40px;
    margin: 4px;
  }
  #skills-container div img:hover {
    width: 60px;
  }
  #skills-container div .hooover {
    width: 60px;
  }
}
@media screen and (max-width: 576px) {
  p, a {
    font-size: 18px;
  }
  #skills-container {
    height: 50px;
    min-width: 320px;
    justify-content: space-evenly;
  }
  #skills-container div {
    width: 35px;
    height: 35px;
  }
  #skills-container div img {
    width: 25px;
    margin: 1px;
  }
  #skills-container div img:hover {
    width: 40px;
  }
  #skills-container div .hooover {
    width: 40px;
  }
  #contact_icons {
    width: 250px;
    margin: 40px ;
    padding: 40px 0;
  }
  .supertitle {
    font-size: 2em;
  }
  .skills__skill-text {
    width: 180px;
    margin: 10px 0px;
  }
}
@media screen and (max-width: 400px) {
  p, a {
    font-size: 16px;
  }
  .intro__title-2 {
    font-size: 26px;
  }
}
