// Responsive breakpoints
$break-x-small: 400px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-x-large: 1200px;

%backgr-parallax {
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

%flex-center-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

%flex-around-center {
   display: flex;
   justify-content: space-around;
   align-items: center;
}


* {
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

p {
   max-width: 700px;
   margin: 0px 40px;
   font-family: 'Montserrat', sans-serif;
   font-size: 22px;
   line-height: 1.6;
   color: #ffffff;
   text-align: justify;

   @media screen and (max-width: $break-medium) {
      font-size: 20px;
   }
   @media screen and (max-width: $break-small) {
      font-size: 18px;
   }
   @media screen and (max-width: $break-x-small) {
      font-size: 16px;
   }
   
   a {
      text-decoration: none;
      color: #ffffff;
   }
}

.backg-1 {
   height: 100vh;
   position: relative;
   @extend %flex-center-center;

   &:before {
      //opacity: 0.9;
      content: "";
      position: absolute;
      width: 100%;
      height: 100vh;
      background-image: url("../images/Hallonbergen.jpg");
      @extend %backgr-parallax;
   }
   div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: stretch;
      height: 75%;
      div {
         text-align: center;
         position: relative;
         //width: 370px; // Taken from the tittle-2 width
         height: auto;
      }
      
   }
}


.backg-2 {
   background-image: url("../images/YoBici.jpg");
   height: 75vh;
   filter: contrast(125%) brightness(73%) sepia(100%);
   @extend %backgr-parallax;
}

.content {
   @extend %flex-center-center;
   height: 50vh;
   background-color: rgba(0, 0, 0, 0.98); // Edge supported
}


#contact {
   flex-direction: column;
   justify-content: space-around;
   height: 100vh;
   p {
      text-align: center;
   }
   div {
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: $break-small) {
         width: 60%;
      }
      #icon-mail {
         height: 45px;
      }
      #icon-linked {
         height: 40px;
      }
      #icon-github {
         height: 38px;
      }
   }

   a {
      // Bouncing icon
      span {
         height: 80px;
         #icon-up {
            height: 20px;
            align-self: flex-end;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            transform-origin: bottom;
         }
         .bounce {
            animation-name: bounce;
            animation-timing-function: ease;
         }
         @keyframes bounce {
            0% { transform: translateY(0); }
            50% { transform: translateY(-10px); }
            100% { transform: translateY(0); }
         }
      }
   }
}

#corchetes {
   display: flex;
   align-items: center;
   span {
      font-family: 'Montserrat', sans-serif;
      font-size: 50px;
      color: #575757
   }
   #learning-here {
      text-align: center;
      font-size: 30px;
      width: 180px;
      @media screen and (max-width: $break-small) {
         font-size: 26px;
         width: 180px;
         margin: 10px 0px;
      }
   }
}


#title-1 {
   font-family: 'Times New Roman', Times, serif;         
   font-size: 20px;
   padding: 5px 0px;
   background-color: #000000;
   color: #ffffff;
}
#title-2 {
   font-family: 'Times New Roman', Times, serif;
   font-size: 34px;
   background-color: rgba(255, 255, 255, 0.451); // Edge supported
   @media screen and (max-width: $break-x-small) {
      font-size: 26px;
   }
}
#title-3 {
   font-family: 'Dancing Script', cursive;         
   font-size: 32px;
   padding: 5px 0px;
   background-color: #000000;
   color: #ffffff;
}

#learn-container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 50vh;
   background: #ffffff;
   //background-image: url("../images/hojas.jpg");
   //@extend %backgr-parallax;

   p {
      text-align: center;
      color: #000000;
   }

   #learning {
      @extend %flex-around-center;
      height: 100px;
      div {
         width: 80px;
         height: 80px;
         display: flex;
         justify-content: center;
         align-items: center;         
         img {
            width: 40px;
            margin: 5px;
            transition: 0.25s;
            opacity: 0.5;
            &:hover {
               width: 60px;
               opacity: 1;
            }
         }
         .hooover{
            width: 60px;
            opacity: 1;
         }
      }   
      @media screen and (max-width: $break-medium) {
         height: 80px;
         div{
            width: 63px;
            height: 63px;
            img {
               width: 40px;
               margin: 4px;
               &:hover {
                  width: 60px;
               }
            }
            .hooover{
               width: 60px;
            }
         }
      }
      @media screen and (max-width: $break-small) {
         height: 50px;
         min-width: 320px;
         justify-content: space-evenly;
         div{
            width: 35px;
            height: 35px;
            img {
               width: 25px;
               margin: 1px;
               &:hover {
                  width: 40px;
               }
            }
            .hooover{
               width: 40px;
            }
         }
      }
   }
}







